<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SMS</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Student Management</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/students}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/students/new}">Add Student</a>
                </li>
            </ul>
            <form th:action="@{/students/1}" class="d-flex">
                <input type="hidden" name="sortField" th:value="${sortField}">
                <input type="hidden" name="sortDir" th:value="${sortDir}">
                <input type="search"
                       class="form-control me-2"
                       name="keyword"
                       placeholder="Search"
                       th:value="${keyword}"
                       required />
                &nbsp;
                <input type="submit" class="btn btn-outline-success" value="Search"/>
                &nbsp;
                <input type="button" value="Clear" class="btn btn-outline-secondary" onclick="clearFilter()" />
            </form>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row d-flex justify-content-center">
        <br>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col"> <a th:href="@{'/students/' + ${currentPage} + '?sortField=firstName&sortDir=' + ${reverseSortDir} + ${keyword != null ? '&keyword=' + keyword : '' }}">First Name</a></th>
            <th scope="col"><a th:href="@{'/students/' + ${currentPage} + '?sortField=lastName&sortDir=' + ${reverseSortDir} + ${keyword != null ? '&keyword=' + keyword : '' }}">Last Name</a></th>
            <th scope="col"><a th:href="@{'/students/' + ${currentPage} + '?sortField=email&sortDir=' + ${reverseSortDir} + ${keyword != null ? '&keyword=' + keyword : '' }}">Email</a></th>
            <th scope="col"><a th:href="@{'/students/' + ${currentPage} + '?sortField=yearOfStudy&sortDir=' + ${reverseSortDir} + ${keyword != null ? '&keyword=' + keyword : '' }}">Year of Study</a></th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each = "student: ${students}">
            <td th:text="${student.firstName}"></td>
            <td th:text="${student.lastName}"></td>
            <td th:text="${student.email}"></td>
            <td th:text="${student.yearOfStudy}"></td>
            <td>
                <a th:href="@{/students/edit/{id}(id=${student.id})}" class="btn btn-primary">Update</a>
                <a th:href="@{/students/delete/{id}(id=${student.id})}" class="btn btn-danger">Delete</a>
            </td>
        </tbody>
    </table>
    <div class="d-flex justify-content-center">
        Total Items: [[${totalItems}]].
        &nbsp;&nbsp;
        <a th:if="${currentPage > 1}" th:href="@{'/students/1' + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : '' }}">First</a>
        <span th:unless="${currentPage > 1}">First</span>
        &nbsp;
        <a th:if="${currentPage > 1}" th:href="@{'/students/' + ${currentPage - 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : '' }}">Previous</a>
        <span th:unless="${currentPage > 1}">Previous</span>
        &nbsp;
        <span th:each="i: ${#numbers.sequence(1, totalPages)}">
            <a th:if="${currentPage != i}" th:href="@{'/students/' + ${i} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : '' }}">[[${i}]]</a>
            <span th:unless="${currentPage != i}">[[${i}]]</span>
            &nbsp;
        </span>
        &nbsp;
        <a th:if="${currentPage < totalPages}" th:href="@{'/students/' + ${currentPage + 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : '' }}">Next</a>
        <span th:unless="${currentPage < totalPages}">Next</span>
        &nbsp;
        <a th:if="${currentPage < totalPages}" th:href="@{'/students/' + ${totalPages} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : '' }}">Last</a>
        <span th:unless="${currentPage < totalPages}">Last</span>
    </div>
</div>
<script type="text/javascript">
    function clearFilter(){
        window.location = '/students';
    }
</script>
</body>
</html>